.box-clube-container {
  margin: 12px 0 0 0;
  background: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: calc(var(--page-container-width) / 2);
  min-width: calc(var(--page-container-width) / 2);

  .box-clube-header-title {
    background-color: #cacaca;
    text-align: center;
    padding: 8px;
    border-radius: 7px 7px 0px 0px;
    position: relative;

    button {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: #00000020;
      padding: 6px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #00000030;
      }

      &:active {
        transform: scale(0.8);
      }
    }

    p {
      font-weight: bold;
    }
  }

  .box-clube-header {
    background-color: #ebebeb;
    text-align: center;
    padding: 8px;
    word-wrap: break-word;

    p {
      line-height: 18px;

      span {
        font-weight: bold;
      }
    }
  }

  .box-clube-content {
    margin: 12px;

    button {
      background-color: #3e7cc6;
      color: #ffffff;

      padding: 12px;
      border-radius: 8px;
      width: 100%;
      box-shadow: 0px 0px 6px 1px #00000030;
      font-size: 16px;

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }

    .card-empresa-dados {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 6px;
      padding: 4px;
      border: 2px solid #c5c5c5;
      background-color: #ffffff;

      margin: 12px 0;

      div {
        padding: 10px;
        border-radius: 4px;
        margin-right: 10px;
        background-color: #e2e2e2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        p {
          font-weight: bold;
          font-size: 16px;
        }
      }

      p {
        font-size: 14px;
        line-height: 14px;
      }
    }

    .card-retorno-api {
      border: 1px solid #d9d9d9;
      border-radius: 8px;

      .card-retorno-api-header {
        background-color: #d9d9d9;
        border-radius: 7px 7px 0 0;
        padding: 6px;

        p {
          text-align: center;
          font-weight: bold;
          color: #000000;
        }
      }

      .card-retorno-api-content {
        padding: 12px;
      }
    }
  }
}
