.box-login-container {
  margin: 12px 0 0 0;
  background: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;

  .box-login-header-title {
    background-color: #cacaca;
    text-align: center;
    padding: 8px;
    border-radius: 7px 7px 0px 0px;
    position: relative;

    button {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: #00000020;
      padding: 6px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #00000030;
      }

      &:active {
        transform: scale(0.8);
      }
    }

    p {
      font-weight: bold;
    }
  }

  .box-login-header {
    background-color: #ebebeb;
    text-align: center;
    padding: 8px;
    word-wrap: break-word;

    span {
      font-weight: bold;
    }
  }

  .box-login-content {
    margin: 12px;

    button {
      background-color: #3e7cc6;
      color: #ffffff;

      padding: 12px;
      border-radius: 8px;
      width: 100%;
      box-shadow: 0px 0px 6px 1px #00000030;
      font-size: 16px;

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }

    .input-box {
      background-color: #ffffff;
      border: 2px solid #cacaca;
      border-radius: 10px;
      display: flex;
      margin-bottom: 12px;
      position: relative;

      .label-box {
        background-color: #e6e6e6;
        width: 100px;
        padding: 8px 4px;
        border-radius: 9px 0px 0px 9px;

        p {
          text-align: center;
          color: #222222;
          font-weight: bold;
          font-size: 14px;
        }
      }

      .btn-show-pass {
        position: absolute;
        top: 6px;
        right: 6px;
        background-color: #00000020;
        width: 20px;
        height: 20px;
        padding: 4px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #00000030;
        }
      }

      input {
        background-color: #ffffff;
        color: #222222;
        border-radius: 0px 9px 9px 0px;
        border: none;
        padding: 6px 12px;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
